<mat-toolbar color="primary">
  Typing test
</mat-toolbar>
<main class="typing-test">
  <section class="grid-container">
    <section class="top-panel">
      <mat-form-field class="full-width">
        <mat-select [(ngModel)]="textSelector" placeholder="Select one text to start the application." (valueChange)="start($event)">
          <mat-option *ngFor="let text of textContents" [value]="text.content">
            {{ text?.content }}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <mat-card *ngIf="textSelector" class="max-height-card">
        {{ textSelector }}
      </mat-card>
    </section>
    <section class="bottom-panel">
      <div *ngIf="inputText?.value?.trim() !== ''">
        <h3>Test Result</h3>
        <mat-card class="test-result">
          <div *ngIf="showResults === false">
              {{ inputText?.value }}
          </div>
          <div *ngIf="showResults === true" [innerHTML]="inputText?.value | checkTypingErrors: textSelector"></div>
        </mat-card>
      </div>
    </section>
    <section class="side-panel">
      <div class="panel-1">
        <mat-form-field class="text-input">
          <textarea #inputText matInput [disabled]="!textSelector" placeholder="Start typing sample text to begin test."
            (keyup)="checkTimer($event)"></textarea>
          <mat-hint align="end">
            <span [ngClass]="{'error': inputText?.value?.length > textSelector?.length}">
              Chars length: {{ inputText?.value?.length | charsCount: textSelector?.length }}
            </span>
          </mat-hint>
        </mat-form-field>
      </div>
      <div class="panel-2">
        <h3>Current Status</h3>
        <mat-list>
          <mat-list-item>
            Current time {{ timer | secondsToTime }}
          </mat-list-item>
          <mat-divider></mat-divider>
          <mat-list-item>
            Number of words: {{ inputText?.value | numberOfWords }}
          </mat-list-item>
          <mat-divider></mat-divider>
          <mat-list-item>
            Words per minute: {{ wordsPerMinute | averageWordsPerMinute }}
          </mat-list-item>
          <mat-divider></mat-divider>
          <mat-list-item *ngIf="showResults === true">
            Error percentage: <span [innerHTML]="inputText?.value | checkTypingErrors: textSelector : true"></span>
          </mat-list-item>
        </mat-list>
      </div>
    </section>
  </section>
</main>
